@charset "UTF-8";
body {
  font-family: "Segoe UI";
  margin: 0;
}

/* Header/Logo Title */
.header {
padding: 25px;
text-align: center;
background: #3498db;
color: #ececec;
font-size: 30px;
}

/* Page Content */
.content {
  padding:20px;
  text-align: center;
}


.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3498db;
  color: white;
  text-align: center;
}
